/*
Add translucent background to internal links.
*/
/* OG code */
/* .cm-s-obsidian span.cm-hmd-internal-link,
a.internal-link {
  background-color: #8f9fa937;
  padding: 0 0.1em;
  margin: auto -0.1em;
  border-radius: 3px;
} */

.cm-s-obsidian span.cm-hmd-internal-link,
a.internal-link {
  background-color: #8f9fa937;
  /* padding: 0 0.1em; */
  /* margin: auto -0.1em; */
  border-radius: 0.15em;
}
