/*
Add translucent background to internal links.
*/

.cm-s-obsidian span.cm-hmd-internal-link,
a.internal-link {
  background-color: var(--background-primary-alt);
  border-radius: 0.15em;
  color: var(--text-on-accent);
}
