/*
Style tables.
*/

:root {
  --table-border-color: var(--text-faint);
}

/* Border color */
.cm-s-obsidian .cm-table-widget th,
.cm-s-obsidian .cm-table-widget td {
  border-color: var(--table-border-color);
}

/* Bold header row */
.cm-s-obsidian .cm-table-widget th {
  font-weight: bold;
}

/* lighten alternate row background */
.markdown-rendered tbody tr:nth-child(odd) {
  background-color: #2a3a3a80;
}

div.table-wrapper {
  max-width: 100%;
  margin: 0 auto;
  border: none;
  outline: 0.2rem solid black;
  border-radius: 0.2rem;
}

div.cm-embed-block.cm-table-widget.markdown-rendered
  div.table-wrapper
  table.table-editor
  thead
  tr
  th,
div.cm-embed-block.cm-table-widget.markdown-rendered
  div.table-wrapper
  table.table-editor
  tbody
  tr
  td
  div.table-cell-wrapper {
  padding: 1em;
  font-size: 1.2em;
}

/* From previous version of Anodyne */
table thead {
  background-color: var(--cus-table-header);
  font-weight: bold;
}

table tr:nth-child(2n),
thead {
  background-color: var(--cus-table-gap-tr);
}

.cm-active.cm-line {
  background: var(--cus-highlight-cursor-line);
}

.nav-file-title.is-active::before {
  border-left: 4px solid hsl(var(--interactive-accent-hsl));
  content: '';
  position: absolute;
  left: 0px;
  top: 0;
  height: 100%;
}
